<gux-context-search
  placeholder="Search"
  style="width: 100px"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  style="width: 300px"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  style="width: 300px"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  navigation-label= "Navigate Result"
  current-match="1"
  match-count="10"
  title = "Context Search Control"
  value="Default Search">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  value="Search Disabled"
  disabled="true"
  style="width: 300px"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  value="Navigation Disabled"
  disable-navigation="true"
  style="width: 300px"
  erase-label="clear"
  navigation-label= "Navigation Disabled"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10">
</gux-context-search>
<gux-context-search
  style="width: 300px"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  navigation-label= "No Match Found">
</gux-context-search>
<gux-context-search
  style="width: 300px"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10">
</gux-context-search>
<gux-context-search
  style="width: 600px"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."></gux-context-search>
<gux-context-search
  style="width: 600px"
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous">
</gux-context-search>
<gux-context-search
  placeholder="Search"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10"
  value="Default Search">
</gux-context-search>
<gux-context-search
  value="Lorem ipsum dolor sit amet, lacinia blandit ultricies lorem aliquam, dui quam a viverra vivamus pellentesque, rhoncus aliquet proin eleifend."
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  erase-label="clear"
  next-label="Next"
  previous-label="Previous"
  current-match="1"
  match-count="10">
</gux-context-search>