<gux-switch-beta layout="medium">
  <gux-switch-input>
    <input
      slot="input"
      type="radio"
      id="dinner-pizza"
      name="dinner"
      value="pizza"
    />
    <label slot="label" for="dinner-pizza">Pizza</label>
  </gux-switch-input>

  <gux-switch-input>
    <input
      slot="input"
      type="radio"
      id="dinner-pasta"
      name="dinner"
      value="pasta"
      checked
    />
    <label slot="label" for="dinner-pasta">Pasta</label>
  </gux-switch-input>

  <gux-switch-input>
    <input
      slot="input"
      type="radio"
      id="dinner-hamburger"
      name="dinner"
      value="hamburger"
    />
    <label slot="label" for="dinner-hamburger">Hamburger</label>
  </gux-switch-input>

  <gux-switch-input>
    <input
      slot="input"
      type="radio"
      id="dinner-sandwich"
      name="dinner"
      value="sandwich"
      disabled
    />
    <label slot="label" for="dinner-sandwich">Sandwich</label>
  </gux-switch-input>
</gux-switch-beta>
